#forgotRoot {
  height: 100vh;
  display: flex;
  flex-direction: column !important;

  #forgotBody {
    background: #f0f2f5;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    #forgotContent{
      margin-top: 15vh;
      max-width: 30vw;

      #title{
        font-size: 2rem;
        color: #444444;
        margin-bottom: 0.5rem;
      }

      #description{
        margin-bottom: 1rem;
      }
    }
  }
}
