#shareMediaRoot{
  width: 100%;
  text-align: center;

  .ant-upload-list{
    width: 40% !important;
    margin-left: 30% !important;
  }

  div.ant-upload{
    margin: auto;
    width: 50vw !important;
    background: white;
  }
}
